<h1>Geología</h1>

 <ul class="big-index-list">
     <li class="main-item">
            <strong class="main-title">Contenido</strong>
            <ul class="sub-list">
                <li><a href="/capitulo1/que-es.html">Introducción</a></li>
                <li><a href="/capitulo1/objetivos.html" class="nav-link">Objetivos del libro</a></li>
            </ul>
        </li>
        <li class="main-item">
            <span class="main-title">Capítulo 1: Introducción</span>
            <ul class="sub-list">
                <li><a href="/capitulo1/que-es.html" class="nav-link">¿Qué es la criptografía?</a></li>
                <li><a href="/capitulo1/objetivos.html" class="nav-link">Objetivos del libro</a></li>
            </ul>
        </li>
        <li class="main-item">
            <span class="main-title">Capítulo 2: Historia</span>
            <ul class="sub-list">
                <li><a href="/capitulo2/antigua.html" class="nav-link">Criptografía antigua</a></li>
                <li><a href="/capitulo2/moderna.html" class="nav-link">Criptografía moderna</a></li>
            </ul>
        </li>
        <li class="main-item">
            <span class="main-title">Capítulo 3: Algoritmos</span>
            <ul class="sub-list">
                <li><a href="/capitulo3/simetricos.html" class="nav-link">Cifrado simétrico</a></li>
                <li><a href="/capitulo3/asimetricos.html" class="nav-link">Cifrado asimétrico</a></li>
            </ul>
        </li>
    </ul>
