body {
    margin: 0;
    padding: 0px 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  background-color:#f6f4f0;
}
header {
    position: relative; /* Necesario para posicionar el menú absoluto dentro */
   
}


.nav-bar {
    position: absolute;
    top: 0;
    right: 10px;
    width: 100%;
    
    color: black;
      border-radius: 0 0 15px 15px; /* Bordes redondeados solo abajo */
  

  
    z-index: 1000;
    
}

.nav-menu{
background-color: #ffffff;
     display: flex; /* El menú ocupa solo el espacio necesario */
     margin: 0;
    padding: 0;
      list-style: none;
}

.nav-menu li{
     display: inline;
}

.nav-menu a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    font-weight: bold;
}
.div-header{ display: flex; /* Activa Flexbox */
    align-items: center; /* Alinea verticalmente al centro */
    justify-content: space-between; /* Espacia los elementos: texto a la izquierda, imagen a la derecha */
    width: 90%; /* Ancho del contenedor */
   /* max-width: 1800px;  Máximo ancho del contenedor */
            max-heig
    margin: auto; /* Centra horizontalmente */
           }

.div-header h1 {
    font-size: 2.5rem; /* Tamaño del texto */
    color: #333; /* Color del texto */
    margin: 0; /* Quita márgenes adicionales */
    flex: 1; /* Toma espacio restante si es necesario */
}

/* Estilo de la Imagen */
.div-header img{
    max-width: 50%; /* La imagen ocupa hasta el 40% del contenedor */
    height: auto; /* Mantiene las proporciones originales */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra */
}
